*{
    margin:0px;
    padding:0px;
}
body{
    /* background-color: #98D9C2; */
    background-color: cornflowerblue;
    text-align:center;
}
.container{
    height:70vh;
    width:200vh;
    /* background-color: chocolate; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    width:18vmin;
    height:18vmin;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    border-radius:1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.4); 
    border:none;
    display:block-line;
    font-size:8vmin;
    color:brown;
}
.reset{
    padding:1em;
    font-size: 1.25em;
    background-color: black;
    color:white ;
    border-radius:1rem;
    border:none;
}
#msg{
    color: aliceblue;
    font-size: 5vmin;
}

.msg-container{
    margin-bottom:2vmin;
}

.hide{
    
    display:none;
}